body {
    background: url("../images/background.jpg") no-repeat fixed center center/cover;
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav li a,
.sidenav li a {
    color: white;
}

.flashes h4 {
    line-height: 1;
}

h1, h2, h3, .card-title {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    margin-top: 5px;
}

.card, .card-content, .card-panel, .btn-large {
    border-radius: 25px;
}

.card-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-footer {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}