body {
    background: url("../images/background.jpg") no-repeat fixed center center/cover;
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* Navbar */
nav li a,
.sidenav li a {
    color: white;
}

/* Typography */
h1, h2, h3, h4, .card-title {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    margin-top: 5px;
}

/* Flash messages */
.flashes h4 {
    line-height: 1;
}

/* Buttons and links */
.mb-2 {
    margin-bottom: 5px;
}

.btn {
    margin: 10px;
    border-radius: 25px;
}

/* Cards and content */
.card, .card-content, .card-panel, .btn-large, 
.card-image, .card-image img.profile-pic, .modal {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.no-margin {
    margin: 0;
}

.post-image {
    height: 233px;
    position: relative; /* Make the card image container relative */
}

.edit-button {
    position: absolute; /* Position the edit button absolutely */
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */
    z-index: 1; /* Ensure the edit button is above the image */
}

/* Footer */
.copyright {
    display: inline;
    padding-left: 5%;
    color: white;
}

.fa-solid {
    font-size: x-large;
}

.socials {
    display: inline;
    float: right;
    padding-right: 5%;
    letter-spacing: 10px;
    font-size: x-large;
}

.socials a {
    color: white;
    transition: 1s;
}

.linked:hover {
    color: #0072b1;
}

.git:hover {
    color: #6e5494;
}