body {
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
}

nav li a,
.sidenav li a {
    color: white;
}

.flashes h4 {
    line-height: 1;
}

h1, h2, h3 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}