{% extends "base.html" %}
{% block content %}

<h3 class="center">Edit Post</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">

        <div class="card-panel">

            <!-- Post Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pen prefix cyan-text text-darken-4"></i>
                    <input id="post_title" name="post_title" type="text" class="validate" minlength="0" maxlength="50"
                        class="validate" value="{{ post.post_title }}" required>
                    <label for="post_title">Title</label>
                </div>

                <!-- Theme Selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix cyan-text text-darken-4"></i>
                        <select id="theme_name" name="theme_name" class="validate" required>
                            <option value="" disabled>Choose Theme</option>
                            {% for theme in themes %}
                            {% if theme.theme_name == post.theme_name %}
                            <option value="{{ theme.theme_name }}" selected>
                                {{- theme.theme_name.capitalize() -}}
                            </option>
                            {% else %}
                            <option value="{{ theme.theme_name }}">
                                {{- theme.theme_name.capitalize() -}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="theme_name">Post Theme</label>
                    </div>
                </div>

                <!-- Post Description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-align-justify prefix cyan-text text-darken-4"></i>
                        <textarea id="post_description" name="post_description" class="validate materialize-textarea"
                            minlength="0" maxlength="500" required>
                        {{- post.post_description -}}
                    </textarea>
                        <label for="post_description">Your Post Here</label>
                    </div>
                </div>

                <!-- Edit Post -->
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- Cancel -->
                        <a href="{{ url_for('get_posts') }}"
                         class="btn cyan darken-4 text-shadow" >
                         <i class="fa-solid fa-backward text-shadow"></i>
                        </a>
                        <!-- Submit -->
                        <button type="submit"
                         class="btn-large cyan darken-4 text-shadow center-align">
                            Edit <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <!-- Delete -->
                        <a href class="btn cyan darken-4 text-shadow">
                            <i class="fa-solid fa-trash red-text"></i></i></a>
                    </div>
                </div>

            </div>
    </form>
</div>

{% endblock %}