{% extends "base.html" %}
{% block content %}

<h1 class="center" aria-label="BlissBoost Heading">BlissBoost</h1>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <p>
                Welcome to BlissBoost, your haven of positivity in the digital world! Here, we believe in uplifting each
                other and spreading joy in every corner of life. Whether you're seeking motivation, inspiration, or
                simply a dose of happiness, you've come to the right place.
            </p>
            <p>
                Join our community of like-minded individuals dedicated to sharing uplifting messages, encouraging
                stories, and empowering experiences. Let's embark on a journey together to boost each other's spirits
                and make the world a brighter place, one positive post at a time.
            </p>
            <p>
                So come on in, explore, connect, and let's spread some bliss together!
            </p>
            <br>
            <div class="row center-align">
                <!-- Log In -->
                <div class="col s8 m4 offset-s2 offset-m2 mb-2">
                    <a href="{{ url_for('login') }}" class="btn-large cyan darken-4 text-shadow custom-btn"
                     aria-label="Log In Button">
                        <i class="fa-solid fa-circle-user"></i> Log In
                    </a>
                </div>

                <!-- Register -->
                <div class="col s8 m4 offset-s2 mb-2">
                    <a href="{{ url_for('register') }}" class="btn-large cyan darken-4 text-shadow custom-btn"
                     aria-label="Register Button">
                        Register <i class="fa-regular fa-circle-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}