{% extends "base.html" %}
{% block content %}

<h1 class="row center" aria-label="Log In Heading">Log In</h1>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">

            <!-- Register -->
            <div class="row no-margin">
                <div class="col s12">
                    <p class="center-align">Don't have an account?
                         <a href="{{ url_for('register') }}"
                          class="deep-orange-text text-darken-2">
                          <strong>Register now!</strong></a>
                    </p>
                </div>
            </div>

            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-face-smile prefix cyan-text text-darken-4"></i>
                    <input id="username" name="username" type="text"
                     class="validate" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5-15}" required aria-label="Username">
                    <label for="username">Username</label>
                </div>
            </div>

            <!-- Password -->
            <div class="row">
                <div class="input-field col s11">
                    <i class="fa-solid fa-lock prefix cyan-text text-darken-4"></i>
                    <input id="password" name="password" type="password"
                     class="validate" minlength="8"
                        pattern="^[a-zA-Z0-9]{5,15}$" required aria-label="Password">
                    <label for="password">Password</label>
                </div>
                <div class="col s1">
                    <i class="fa-solid fa-eye-slash fa-lg" onclick="visibility(event)"></i>
                </div>
            </div>

            <!-- Log In -->
            <div class="row">
                <button type="submit" class="col s12 btn-large cyan darken-4 text-shadow" aria-label="Log In Button">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}