{% extends "base.html" %}
{% block content %}

<h2 class="header center">Community Posts</h2>

<div class="row">
    {% for post in posts %}
    <div class="col s12 m4">

        <div class="card sticky-action medium mt-5 mb-3 shadow cyan darken-3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="hoverable activator"
                 src="{{ url_for('static', filename='images/background.jpg') }}">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ post.post_title }}
                    <i class="hoverable right fa-solid fa-ellipsis-vertical"></i>
                </span>
                <p>{{ post.theme_name }}</p>
            </div>

            <div class="card-action">
                <span>Created by: <strong>{{ post.created_by.capitalize() }}</strong>
                     on: {{ post.post_date.strftime("%d %B, %Y") }}
                </span>

                <span class="right-align">
                    <a href="{{ url_for('edit_post', post_id=post._id) }}">
                        <i class="right fa-solid fa-pen-to-square
                         deep-orange-text text-lighten-2 hoverable"></i>
                    </a>
                </span>
            </div>

            <div class="card-reveal">
                <span class="card-title activator grey-text text-darken-4">
                    {% if post.post_title %}
                        {{ post.post_title.capitalize() }}
                    {% else %}
                        No Title
                    {% endif %}
                    <i class="hoverable right fa-solid fa-ellipsis-vertical"></i>
                </span>
                <p>{{ post.post_description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- Floating Action Button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large deep-orange lighten-2">
        <i class="fa-solid fa-ellipsis"></i>
    </a>
    <ul>
      <li><a href="{{ url_for('add_post') }}"
         class="btn-floating"><i class="fa-solid fa-user-pen"></i></a></li>
    </ul>
  </div>

{% endblock %}