{% extends "base.html" %}
{% block content %}

<h1 class="header center">Community Posts</h1>

<div class="container">
    <!-- Search Bar -->
    <form action="{{ url_for('search') }}" method="POST">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s6 offset-s3 search">
                <i class="fas fa-search prefix cyan-text text-darken-4"></i>
                <input id="query" name="query" type="text" class="validate" required>
                <label for="query" class="center-align black-text">Search Posts</label>
            </div>
            <div class="col s4">
                <button type="submit" class="btn"><i class="fas fa-search"></i> 
                </button>
                <a href="{{ url_for('get_posts') }}" class="btn-small deep-orange lighten-2">
                    <i class="fas fa-repeat"></i></a>
            </div>
        </div>
    </form>
</div>

<div class="row">

    {% for post in posts %}
    <div class="col s12 m4">
        <div class="card sticky-action medium mt-5 mb-3 shadow cyan darken-3">
            <div class="card-image post-image waves-effect waves-block waves-light">
                {% if session["user"] == post.created_by or session["user"] == "admin" %}
                <!-- Render edit button for the post owner -->
                <a href="{{ url_for('edit_post', post_id=post._id) }}">
                    <i class="edit-button fa-solid fa-pen-to-square
                     deep-orange-text text-lighten-2 hoverable"></i>
                </a>
                {% endif %}
                <img class="hoverable activator"
                 src="{{ post.theme_image }}" alt="Theme image">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{ post.post_title.capitalize() }}
                    <i class="hoverable right fa-solid fa-ellipsis-vertical"></i>
                </span>
                <p>{{ post.theme_name.capitalize() }}</p>
            </div>

            <div class="card-action">
                <span>Created by: <strong>{{ post.created_by.capitalize() }}</strong>
                     on: {{ post.post_date.strftime("%d %B, %Y") }}
                </span>

                <span class="right-align">
                    <!-- Liked posts code taken and edited from Mini Tales Project -->
                    {% if post._id|string in session["liked"] %}
                        <!-- Render liked heart icon if the post is liked -->
                        <a href="{{ url_for('like_post', _id=post._id) }}">
                            <i class="right fa-solid fa-heart deep-orange-text text-lighten-2 hoverable"></i>
                            <!-- Display the total likes count -->
                            <span class="right">{{ post.post_likes }}</span>
                        </a>
                    {% else %}
                        <!-- Render unliked heart icon if the post is not liked -->
                        <a href="{{ url_for('like_post', _id=post._id) }}">
                            <i class="right fa-regular fa-heart deep-orange-text text-lighten-2 hoverable"></i>
                            <!-- Display the total likes count -->
                            <span class="right">{{ post.post_likes }}</span>
                        </a>
                    {% endif %}
                </span>

            </div>

            <div class="card-reveal">
                <span class="card-title activator grey-text text-darken-4">
                        {{ post.post_title.capitalize() }}
                    <i class="hoverable right fa-solid fa-ellipsis-vertical"></i>
                </span>
                <p>{{ post.post_description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<!-- Floating Action Button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large deep-orange lighten-2">
        <i class="fa-solid fa-ellipsis"></i>
    </a>
    <ul>
      <li><a href="{{ url_for('add_post') }}"
         class="btn-floating hoverable"><i class="fa-solid fa-user-pen"></i></a></li>
    </ul>
  </div>

{% endblock %}