{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {% if user.profile_pic_url %}
                <img class="profile-pic" src="{{ user.profile_pic_url }}" alt="Profile Picture">
                {% else %}
                <img class="profile-pic" src="{{ url_for('static', filename='images/default_user.jpg') }}"
                    alt="Profile Picture">
                {% endif %}
            </div>

            <div class="card-content cyan darken-3 white-text">
                <span class="card-title">{{ user.username.capitalize() }}'s Profile</span>
                <p>
                    {% if user.name %}
                    {{ user.name.capitalize() }}
                    {% endif %}
                </p>
                <p>
                    {% if user.dob %}
                    {{ user.dob }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


    <div class="col s12 m6 offset-m1">

        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="header center">About Me</h2>
                    <p>
                        {% if user.about %}
                        {{ user.about }}
                        {% endif %}</p>
                </div>
                <div class="card-action">
                    <h3>Liked Posts</h3>
                    <ul class="collapsible cyan darken-4">
                        {% for post in liked_posts %}
                        <li>
                            <div class="collapsible-header cyan darken-3 white-text">
                                <!-- Liked Post Title -->
                                {{ post.post_title }}

                                {% if post._id|string in session["liked"] %}
                                    <!-- Render liked heart icon if the post is liked -->
                                    <a href="{{ url_for('like_post', _id=post._id) }}">
                                        <i class="right fa-solid fa-trash-can deep-orange-text
                                         text-lighten-2 hoverable"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="collapsible-body collapsible-main">
                                <div class="image-container">
                                    <img class="collapsible-img" src="{{ post.theme_image }}">
                                    <div class="overlay">
                                        <span class="post-description">{{ post.post_description }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Floating Action Button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large deep-orange lighten-2 hoverable">
        <i class="fa-solid fa-ellipsis"></i>
    </a>
    <ul>
        <!-- Edit Profile -->
        <li>
            <a href="{{ url_for('edit_profile', user=session['user']) }}" class="btn-floating hoverable">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </li>
        <!-- Upload Image -->
        <li>
            <a data-target="pic_upload" class="btn-floating modal-trigger hoverable">
                <i class="fa-solid fa-image"></i>
            </a>
        </li>
        <!-- Delete User -->
        <li>
            <a data-target="delete_user" class="btn-floating modal-trigger red darken-3 hoverable">
                <i class="fa-solid fa-trash white-text"></i>
            </a>
        </li>
    </ul>
</div>

<!-- Upload Modal -->
<div id="pic_upload" name="pic_upload" class="modal cyan darken-3">
    <div class="modal-content center-align">
        <h4 class="center white-text">Upload Photo URL</h4>

        <form method="POST" action="{{ url_for('upload_pics') }}">
            <div class="input-field">
                <input type="text" id="profile_pic_url" name="profile_pic_url" required>
                <label for="profile_pic_url">Image URL</label>
            </div>

            <input type="submit" value="Upload" class="btn deep-orange hoverable">
        </form>
    </div>

    <div class="modal-footer cyan darken-4">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">
            <strong>Cancel</strong>
        </a>
    </div>
</div>

<!-- Delete User Modal -->
<div id="delete_user" name="delete_user" class="modal cyan darken-3">
    <div class="modal-content">
        <h4 class="center white-text">Delete Account?</h4>

        <form method="POST" action="{{ url_for('delete_user', user_id=user._id) }}" class="center-align">
            <input type="submit" value="Delete" class="red hoverable text-shadow">
        </form>
    </div>

    <div class="modal-footer cyan darken-4">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">
            <strong>Cancel</strong>
        </a>
    </div>
</div>

{% endblock %}